astroid==1.5.3
attrs==17.3.0
Automat==0.6.0
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
boto==2.48.0
bunch==1.0.1
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
cssselect==1.0.1
deepdiff==3.3.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-annoying==0.10.3
django-cors-headers==2.1.0
django-crispy-forms==1.7.0
django-filter==1.1.0
django-htmlmin==0.10.0
django-m2m-history==0.3.6
-e git+https://github.com/EndyKaufman/django-oauth-tokens.git@a214bf956c2ad796aefe48348963982375eb2c31#egg=django_oauth_tokens
django-picklefield==1.0.0
django-postgrespool==0.3.1
django-requestlogging==1.0.1
django-spa==0.2.0
django-storages==1.6.5
django-taggit==0.14.0
-e git+https://github.com/django-tastypie/django-tastypie@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b#egg=django_tastypie
django-toolbelt==0.0.1
-e git+https://github.com/EndyKaufman/django-twitter-api.git@26f68e88839be06b9dba4d8a844732c1d2ef4173#egg=django_twitter_api
django-vkontakte-api==0.8.1
djangorestframework==3.4.0
djangorestframework-camel-case==0.2.0
djangorestframework-jwt==1.8.0
dynamic-rest==1.5.0
gunicorn==19.6.0
html5lib==0.99999
httplib2==0.7.6
incremental==17.5.0
inflection==0.3.1
iron-cache==0.3.2
iron-core==1.1.6
isort==4.2.5
jsonpickle==0.9.5
lazy-object-proxy==1.2.2
lxml==3.5.0
Markdown==2.6.7
mccabe==0.5.3
oauthlib==1.0.3
Pillow==3.4.2
psycopg2==2.6.2
-e git+https://bitbucket.org/zubar/pyga.git@1185a2202d9485e73b506e9f3a97363fe82eee5e#egg=pyga
PyJWT==1.4.2
pylint==1.6.4
pyquery==1.2.9
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.7
requests==2.9.0
requests-oauthlib==0.6.0
simplejson==3.8.1
six==1.10.0
SQLAlchemy==1.1.14
static3==0.6.1
tweepy==3.5.0
virtualenv==15.0.3
vkontakte==1.3.3
whitenoise==3.2.2
wrapt==1.10.8
zope.interface==4.4.1
