<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%"/>
        <add key="DJANGO_SETTINGS_MODULE" value="project.settings"/>
        <add key="DEBUG" value="0"/>
        <add key="DATABASE_URL" value="...."/>
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
                 scriptProcessor="C:\....\venv\Scripts\python.exe|C:\....\wfastcgi.py" resourceType="Unspecified"
                 requireAccess="Script"/>
        </handlers>
        <httpErrors errorMode="Detailed"/>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>